<!-- MODAL APPLIQUER LES MODIFS -->
<div class="modal fade" id="modalModifyComment{{ comment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifiez L'utilisateur {{ user.nickname }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="text-center" method="POST" action="/account/{{ comment.id }}?_method=PUT">
                <div class="modal-body text-dark">
                    <div class="modal-body text-dark">
                        -Modification de : {{ comment.content }} id: {{ comment.id }}
                    </div>

                    <div>
                        <label for="content">Commentaire :</label>
                        <textarea  value="{{ comment.content }}" name="content" type="text" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
            </form>

        </div>
    </div>
</div>


{{!-- //
   $$$$$$$\   $$$$$$\  $$$$$$$\ $$$$$$$$\  $$$$$$\  
   $$  __$$\ $$  __$$\ $$  __$$\\__$$  __|$$  __$$\ 
   $$ |  $$ |$$ /  \__|$$ |  $$ |  $$ |   $$ /  \__|
   $$$$$$$\ |$$ |$$$$\ $$ |  $$ |  $$ |   $$ |      
   $$  __$$\ $$ |\_$$ |$$ |  $$ |  $$ |   $$ |      
   $$ |  $$ |$$ |  $$ |$$ |  $$ |  $$ |   $$ |  $$\ 
   $$$$$$$  |\$$$$$$  |$$$$$$$  |  $$ |   \$$$$$$  |
   \_______/  \______/ \_______/   \__|    \______/ 
                                                 
              --}}