{{! LISTE DES ARTICLES }}
<section class=" container ">
  <div class=" pb-5 ">
    {{!-- TITRES PAGE --}}
    <div class=" pt-3 border-bottom border-1 border-primary">
      <h3 class="tist text-center bg-gradient fw-bold rounded">Articles récents</h3>
    </div>
    <!-- AFFICHAGE CARDS DB -->
    <div class="row">
      {{#if home }}
      {{#each ( limitArray dbArticle 3 )}}

      <div class="col-md-4 pt-3 pb-2">
        {{!-- IMAGE DB --}}
        <div class="card bg-dark tist">
          <img src="{{ image }}" class="card-img-top" style="height: 400px;" alt="" />

          {{!-- TITRE DESCRIPTION ET ID DE L'ARTICLE --}}
          <div class="card-body text-center">


            <h2 class="card-title text-center mb-4">{{ upcase title}}</h2>
            <p class="card-text"> {{description}} {{id}} </p>
            {{#if ../user}}
            <a class="btn btn-primary" href="/article/{{id}}">Lire la suite</a>
            {{else}}
            <div class="alert alert-danger" role="alert">
              Seuls les utilisateurs <span><a href="/auth">connectés</a></span> peuvent lire les articles !
            </div>
            {{/if}}
          </div>

        </div>
      </div>
      {{/each}}
      {{else}}
      <form class="d-flex pt-5 ">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {{#each dbArticle}}
      <div class="col-md-4 pt-5 pb-5">
        {{!-- IMAGE DB --}}
        <div class="card bg-dark tist" style="width: auto;">
          <img src="{{ image }}" class="card-img-top" alt=""
            style="height: 400px;" />
          {{!-- TITRE DESCRIPTION ET ID DE L'ARTICLE --}}
          <div class="card-body text-center">
            <h2 class="card-title text-center mb-4">{{title}}</h2>
            <p class="card-text"> {{description}} {{id}} </p>
            {{#if ../user}}
            <a class="btn btn-primary" href="/article/{{id}}">Lire la suite</a>
            {{else}}
            <div class="alert alert-danger" role="alert">
              Seuls les utilisateurs <span><a href="/auth">connectés</a></span> peuvent lire les articles !
            </div>
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}
    </div>
  </div>
</section>
<script>
  function checkID() {
    console.log(document.getElementById('id').innerText)
    console.log('bonjour')
  }
</script>

<style>
  .tes:hover {
    background-color: white !important;
  }
</style>