{{! LISTE DES ARTICLES }}
<section class="container  pb-5 pt-5">

  {{!-- TITRES PAGE --}}
  <div class=" pt-5 border-bottom border-1 border-primary">
    <h3 class="tist text-center bg-gradient fw-bold rounded">Articles récents</h3>
  </div>

  <!-- AFFICHAGE CARDS DB -->
  {{#if home }}
  <div class="row">
    {{#each ( limitArray dbArticle 3 )}}
    <div class="py-5 col-md-4 pt-3 pb-2">
      <div class="card bg-dark tist border-3 border-primary">
        <img src="{{ image }}" class="card-img-top" height="200px" alt="" />

        {{!-- TITRE DESCRIPTION ET ID DE L'ARTICLE --}}
        <div class="card-body text-center">
          <h2 class="card-title text-white text-center">{{ upcase title}}</h2>
          <p class="card-text fw-bold"> {{description}} {{id}} </p>
          {{#if ../user}}
          <a class="btn btn-primary" href="/article/{{id}}">Lire la suite</a>
          {{else}}
          <div class="">
            <div style="height: 90px;" class="alert   alert-danger" role="alert">
              il faut <span><a href="/auth">être connecté</a></span> pour lire les articles !
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  {{!-- searchbar --}}
  <div class="pt-4">
    <input type="search" class="form-control searchbox-input w-100" id="search" onkeyup="filtre(event)"
      placeholder="Rechercher dans les articles">
  </div>
  {{!-- cards --}}
  <div class="row row-cols-1 row-cols-md-3 g-4 pt-5" id="myCard">
    {{#each dbArticle}}

    <div class="col">
      {{!-- IMAGE DB --}}
      <div class="didiv card bg-dark tist border-3 border-primary">
        <img src="{{ image }}" class="card-img-top" alt="" height="250px" />
        {{!-- TITRE DESCRIPTION ET ID DE L'ARTICLE --}}
        <div class="card-body text-center">
          <h2 id="content" class="card-title text-center text-white mb-4">{{title}}</h2>
          <p class="card-text fw-bold"> {{description}} écrit par: {{author_name}} </p>
          {{#if ../user}}
          <div>
            <a class="btn btn-primary" href="/article/{{id}}">Lire la suite</a>
          </div>
          {{else}}
          {{/if}}
        </div>
      </div>
    </div>

    {{/each}}
  </div>
  {{/if}}
</section>
<script>
var filtre = () => {
    const input = document.querySelector(".searchbox-input");
    const cards = document.getElementsByClassName("card");
    let filter = input.value
    for (let i = 0; i < cards.length; i++) {
        let title = cards[i].querySelector(".card-body");
        if (title.innerText.indexOf(filter) > -1) {
            cards[i].classList.remove("d-none")
        } else {
            cards[i].classList.add("d-none")
        }
    }
}

</script>

<script>
  function checkID() {
    console.log(document.getElementById('id').innerText)
    console.log('bonjour')
  }





</script>




{{!-- //
$$$$$$$\ $$$$$$\ $$$$$$$\ $$$$$$$$\ $$$$$$\
$$ __$$\ $$ __$$\ $$ __$$\\__$$ __|$$ __$$\
$$ | $$ |$$ / \__|$$ | $$ | $$ | $$ / \__|
$$$$$$$\ |$$ |$$$$\ $$ | $$ | $$ | $$ |
$$ __$$\ $$ |\_$$ |$$ | $$ | $$ | $$ |
$$ | $$ |$$ | $$ |$$ | $$ | $$ | $$ | $$\
$$$$$$$ |\$$$$$$ |$$$$$$$ | $$ | \$$$$$$ |
\_______/ \______/ \_______/ \__| \______/

--}}