<!-- MODAL APPLIQUER LES MODIFS -->
<div class="modal fade" id="modalModifyUser{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifiez L'utilisateur {{ user.nickname }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="/user/{{ user.id }}?_method=PUT">
                <div class="modal-body text-dark">
                    <div class="modal-body text-dark">
                        -Modification de : {{ user.full_name }} id: {{ user.id }}
                    </div>
                    <div class="pt-2 pb-2">
                        <label for="full_name">Full Name :</label>
                        <input class="form-control" type="text" value="{{ user.full_name }}" name="full_name" required>
                    </div>
                    <div class="pt-2 pb-2">
                        <label for="nickname">Nickname :</label>
                        <input class="form-control" type="text" value="{{ user.nickname  }}" name="nickname" required>
                    </div>
                    <div class="pt-2 pb-2">
                        <label for="email">Email :</label>
                        <input class="form-control" type="email" value="{{  user.email   }}" name="email" required>
                    </div>
                    <div class="pt-2 pb-2">
                        <label for="password">Password :</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                    <div class="pt-2 pb-2">
                        <label for="is_verified">Is Verified ( 0 / 1 ) :</label>
                        <input class="form-control" min="0" max="1" type="number" value="{{ user.is_verified }}" name="is_verified" required>
                    </div>
                    <div class="pt-2 pb-2">
                        <label for="is_admin">Is Admin ( 0 / 1 ) :</label>
                        <input class="form-control" min="0" max="1" type="number" value="{{ user.is_admin }}" name="is_admin" required>
                    </div>
                    <div class="pt-2 pb-2">
                        <label for="is_banned">Is Banned ( 0 / 1 ) :</label>
                        <input class="form-control" min="0" max="1" type="number" value="{{ user.is_banned }}" name="is_banned" required>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </div>
            </form>

        </div>
    </div>
</div>



{{!-- //
   $$$$$$$\   $$$$$$\  $$$$$$$\ $$$$$$$$\  $$$$$$\  
   $$  __$$\ $$  __$$\ $$  __$$\\__$$  __|$$  __$$\ 
   $$ |  $$ |$$ /  \__|$$ |  $$ |  $$ |   $$ /  \__|
   $$$$$$$\ |$$ |$$$$\ $$ |  $$ |  $$ |   $$ |      
   $$  __$$\ $$ |\_$$ |$$ |  $$ |  $$ |   $$ |      
   $$ |  $$ |$$ |  $$ |$$ |  $$ |  $$ |   $$ |  $$\ 
   $$$$$$$  |\$$$$$$  |$$$$$$$  |  $$ |   \$$$$$$  |
   \_______/  \______/ \_______/   \__|    \______/ 
                                                 
              --}}