{{!--
ROUTE : /ADMIN
PARTIAL MESSAGES
--}}

{{!-- TABLE MESSAGES --}}

{{!-- BOUTON NOUVEAU MESSAGE --}}
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalNewMessage">
    Nouveau Message
</button>
<!-- MODAL NOUVEAU MESSAGE -->
{{> modal/newMessage }}


{{!-- AFFICHAGE DES MESSAGES RECUS --}}
<table class="table">
    {{!-- LEGENDE TABLEAU --}}
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Expediteur</th>
            <th scope="col">Destinataire</th>
            <th scope="col">Objet</th>
            <th scope="col">Action</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    {{!-- CONTENU TABLEAU --}}
    <tbody>
        {{#each dbMessage }}
        <tr>
            <th scope="row">{{ this.id }}</th>
            <td>{{ this.full_name }}</td>
            <td>{{ this.email }}</td>
            <td>
                {{ this.subject }}
            </td>
            <td>
                <button type="button" data-bs-toggle="modal" data-bs-target="#modal3{{ this.id }}"
                    class="btn btn-primary">Lire</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modal2{{ this.id }}">
                    Supprimer
                </button>
            </td>
        </tr>
        <!-- MODAL SUPPRESSION MESSAGE -->
        {{> modal/deleteMessage message=this }}
        {{!-- MODAL LECTURE DU MESSAGE --}}
        {{> modal/readMessage message=this }}
        {{!-- MODAL DE REPONSE AU MESSAGE --}}
        {{/each}}
    </tbody>
</table>