{{!--
route: /admin
Partial: table User
--}}

<table class="table table-sm table-bordered ">
    {{!-- LEGENDE TABLEAU --}}
    <thead>
        {{!-- TITRES ELEMENTS TABLEAU --}}
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    {{!-- CONTENU TABLEAU --}}
    <tbody>
        {{#each dbuser}}
        <tr>

            {{!-- Req.flash --}}

            <th scope="row">{{ this.id }}</th>
            <td style="margin-top: 10vh" class=""> {{ this.full_name }} </td>
            <td style="margin-top: 10vh" class=""> {{ this.email }} </td>
            <td style="margin-top: 10vh" class="">{{ this.is_verified }} </td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modalDeleteUser{{ this.id }}"> X </button>
            </td>

            {{> modal/deleteUser user=this }}


            {{!--
            <!-- Modal -->
            <div class="modal fade" id="modalDeleteUser{{ id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                supprimer cet utilisateur ?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-dark">
                            -Suppression de : {{ this.name }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                            <form method="POST" action="/user?_method=DELETE">
                                <button type="button" class="btn btn-success">Appliquer</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div> --}}
        </tr>
        {{/each }}
    </tbody>
</table>

{{!-- BOUTON APPLIQUER LES MODIFS --}}
<div class="d-flex justify-content-end pb-5">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        Appliquer les modifications
    </button>

    <!-- MODAL APPLIQUER LES MODIFS -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir appliquer les
                        modifications</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                    -User : Mark status changed from 'user' => 'banned'
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success">Appliquer</button>
                </div>
            </div>
        </div>
    </div>

</div>