{{!-- 
     ROUTE : /ADMIN
     PARTIAL ARTICLES
 --}}

{{!-- PARTIAL ARTICLES ADMIN --}}
{{!-- TABLEAU --}}
<table class="table">
    {{!-- LEGENDE TABLEAU --}}
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Auteur</th>
            <th scope="col">Titre Article</th>
            <th scope="col">Description</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    {{!-- CONTENU TABLEAU --}}
    <tbody>
        {{#each dbArticles}}
        <tr>
            <th scope="row">{{ this.id }}</th>
            <td>{{ this.author_id }}</td>
            <td>{{ this.title }}</td>
            <td>{{ this.description }}</td>
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalModifArticle{{ this.id }}"><i class="fas fa-edit"></i></button>
                 {{> modal/modifArticle article=this }}
            </td>
            <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteArticle{{ this.id }}"><i class="fas fa-trash-alt"></i></button>
                 {{> modal/deleteArticle article=this}}
            </td>
        </tr>
        {{/each }}
    </tbody>
</table>
{{!-- BOUTON AJOUTER UN ARTICLE --}}
<div class="pb-5">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAddArticle">Ajouter un article</button>
             {{> modal/addArticle }}
</div>
