{{!-- 
     ROUTE : /ADMIN
     PARTIAL AVIS ET COMMENTAIRES
 --}}

{{!-- PARTIAL AVIS ET COMMENTAIRES ADMIN --}}
<table class="table">
    {{!-- LEGENDE TABLEAU --}}
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Nom</th>
            <th scope="col">Avis / Commentaire</th>
            <th scope="col">Contenu</th>
            <th scope="col">Is Avis</th>
            <th scope="col">Is Banned</th>
            <th scope="col">Supprimer</th>
            <th scope="col">Modifier</i></th>
        </tr>
    </thead>
    {{!-- CONTENU DU TABLEAU --}}
    <tbody>
        {{#each dbComments}}
        <tr>
            <th scope="row">{{ this.id }}</th>
            <td>{{ this.author_id }}</td>
            <td>{{ this.is_avis }}</td>
            <td>{{ this.content }}</td>
            <td>{{ this.is_avis }}</td>
            <td>{{ this.is_banned }}</td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteComment{{ this.id }}"><i class="fas fa-trash-alt"></i></button>
            </td>
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalModifyComment{{ this.id }}"><i class="fas fa-edit"></i></button></td>
             {{> modal/modalDeleteComment comment=this }}
             {{> modal/modalModifyComment comment=this }}
        </tr>
         {{/each }}
    </tbody>
</table>
{{!-- MODAL DE SUPPRESSION DE COMMENTAIRE/AVIS --}}
<div class="d-flex justify-content-end">
    <!-- Button trigger modal -->


</div>