{{!--
route: /admin
Partial: table User
--}}
{{!-- BOUTON AJOUTER UN UTILISATEUR --}}
<div>
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalAddUser">Ajouter un Utilisateur</button>
    {{> modal/addUser }}
</div>
<table class="table table-sm table-bordered ">
    {{!-- LEGENDE TABLEAU --}}
    <thead>
        {{!-- TITRES ELEMENTS TABLEAU --}}
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Nom</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Email</th>
            <th scope="col">Verified</th>
            <th scope="col">Admin</th>
            <th scope="col">Banned</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    {{!-- CONTENU TABLEAU --}}
    <tbody>
        {{#each dbuser}}
        <tr>

            {{!-- Req.flash --}}

            <th scope="row">{{ this.id }}</th>
            <td style="margin-top: 10vh" class=""> {{ this.full_name }} </td>
            <td style="margin-top: 10vh" class=""> {{ this.nickname }} </td>
            <td style="margin-top: 10vh" class=""> {{ this.email }} </td>
            <td style="margin-top: 10vh" class=""> {{ this.is_verified }}</td>
            <td style="margin-top: 10vh" class=""> {{ this.is_admin }}</td>
            <td style="margin-top: 10vh" class=""> {{ this.is_banned }}</td>
            <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalDeleteUser{{ this.id }}"><i class="fas fa-trash-alt"></i> </button>
                    <button type="button" class="btn btn-primary " data-bs-toggle="modal"
                            data-bs-target="#modalModifyUser{{ this.id }}"> <i class="fas fa-edit"></i> </button>
            </td>
            {{> modal/deleteUser user=this }}
            {{> modal/modifyUser user=this }}


            {{!--
            <!-- Modal -->
            <div class="modal fade" id="modalDeleteUser{{ id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Êtes vous sûr de vouloir
                                supprimer cet utilisateur ?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-dark">
                            -Suppression de : {{ this.name }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                            <form method="POST" action="/user?_method=DELETE">
                                <button type="button" class="btn btn-success">Appliquer</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div> --}}
        </tr>
        {{/each }}
    </tbody>
</table>