{{!-- FORMULAIRES DE CONNEXION / INSCRIPTION / MOT DE PASSE OUBLIE --}}

<section class="pt-5 container bg-light" style="height: 100vh;">

    {{#each userID }}
    <h5 class="text-center pt-5">Bonjour {{ this.full_name }}, tu as l'id ({{ this.id }}) | et ton email est: {{
        this.email }}   <img class="rounded-pill" src="{{ this.image }}" style="height: 250px;" alt=""></h5>
    {{/each }}

    {{! TABS ACCOUNT }}
    <ul class="nav nav-tabs d-flex justify-content-center  pb-3 ps-3 pt-5" id="myTab" role="tablist">
        {{!-- BOUTON CONNEXION --}}
        <li class="nav-item ps-2 pe-2" role="presentation">
            <button class="nav-link text-primary border-2 border-primary active bg-light" id="home-tab"
                data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home"
                aria-selected="true">Mon Compte</button>
        </li>
        {{!-- BOUTON INSCRIPTION --}}
        <li class="nav-item pe-2" role="presentation">
            <button class="nav-link text-primary bg-dark border-2 border-primary" id="profile-tab" data-bs-toggle="tab"
                data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Mes
                Avis & commentaires</button>
        </li>
        {{!-- BOUTON MOT DE PASSE OUBLIE --}}
        <li class="nav-item" role="presentation">
            <button class="nav-link bg-dark border-2 border-primary text-primary" id="messages-tab" data-bs-toggle="tab"
                data-bs-target="#messages" type="button" role="tab" aria-controls="messages"
                aria-selected="false">Paramètres</button>
        </li>
    </ul>

    {{! CONTENU TABS ACCOUNT }}
    <div class="tab-content pb-5 d-flex justify-content-center  ">
        {{!-- MON COMPTE --}}
        {{#each userID}}
        <div class="row tab-pane  active pb-5" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form class="" action='/account/user/{{ this.id }}?_method=PUT' enctype="multipart/form-data" method="POST">
                <div class="mb-3 col-md-6">
                    <h1 class="text-dark pt-4 text-center">Mon Compte</h1>
                    {{!-- INPUT FULLNAME --}}
                    <label for="full_name" class="form-label">Nom Complet:</label>
                    <input type="text" class="form-control" value="{{ this.full_name }}" name='full_name' id="full_name"
                        aria-describedby="none" required />
                </div>
                <div class="mb-3 col-md-6">
                    {{!-- INPUT NICKNAME --}}
                    <label for="nickname" class="form-label">Pseudo:</label>
                    <input type="text" class="form-control" value="{{ this.nickname }}" name='nickname' id="nickname"
                        aria-describedby="none" required />
                </div>
                <div class="mb-3 col-md-6">
                    {{!-- INPUT EMAIL --}}
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" value="{{ this.email }}" name='email' id="email"
                        aria-describedby="none" required />
                </div>
                <div class="mb-3 col-md-6">
                    {{!-- INPUT CHANGE PASSWORD --}}
                    <label for="password">Nouveau mot de passe : </label>
                    <input type="password" class="form-control" value="" name='NewPassword' id="newPassword"
                        aria-describedby="none" />
                    <label for="passConfirm">Confirmez mot de passe:</label>
                    <input type="password" class="form-control" value="" name='passwordConfirm' id="passwordConfirm"
                        aria-describedby="none" />
                </div>
                <div class="col-md-6">
                    <label for="image" class="pb-2">Séléctionnez une image de profil :</label>
                    <input type="file" name="image" id="">
                    <img src="{{ this.image }}" class="rounded-pill" height="90px" alt="">
                </div>
                <div class="col-md-6 pt-3">
                    <button class="btn btn-primary" type="submit">Appliquer les modifications</button>
                </div>

            </form>
        </div>
        {{/each}}
        {{! MES COMMENTAIRES ET AVIS }}
        <div class="tab-pane container-fluid " id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h1 class="h5 text-center">Mes Commentaires & avis</h1>
            <table class="table">
                {{!-- LEGENDE TABLEAU --}}
                <thead>
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Avis / Commentaire</th>
                        <th scope="col">Contenu</th>
                        <th scope="col">Is Avis</th>
                        <th scope="col">Is Banned</th>
                        <th scope="col">Supprimer</th>
                        <th scope="col">Modifier</i></th>
                    </tr>
                </thead>
                {{!-- CONTENU DU TABLEAU --}}
                <tbody>
                    {{#each userComments}}
                    <tr>
                        <th scope="row">{{ this.id }}</th>
                        <td>{{ this.author_id }}</td>
                        <td>{{ this.is_avis }}</td>
                        <td>{{ this.content }}</td>
                        <td>{{ this.is_avis }}</td>
                        <td>{{ this.is_banned }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#modalDeleteComment{{ this.id }}"><i class="fas fa-trash-alt"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd"
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg></i></button>
                        </td>
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalModifyComment{{ this.id }}"><i class="fas fa-edit"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pen" viewBox="0 0 16 16">
                                        <path
                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                    </svg></i></button>
                        </td>
                        {{> account/modal/modalDeleteComment comment=this }}
                        {{> account/modal/modalModifyComment comment=this }}
                    </tr>
                    {{/each }}
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
            </div>
        </div>
        {{!-- PARAMÈTRES --}}
        <div class="tab-pane container" id="messages" role="tabpanel" aria-labelledby="messages-tab">
            PARAMETRES ?
        </div>
    </div>
</section>

<script>
    var firstTabEl = document.querySelector('#myTab li:last-child a') var firstTab
        = new bootstrap.Tab(firstTabEl) firstTab.show()
</script>


<style>
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
Label the data
*/


    }
</style>